*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Urbanist", sans-serif;
}
.parent{

    background: #F4A261;
    display: flex;
    justify-content: space-around;
    align-items: center;
height: 2rem;
/* padding: .2rem; */

}
.parent ul{
    display: flex;
    gap: 1rem;

}
.parent ul li{
    list-style: none;
    font-size: 1.2rem;
    cursor: pointer;
position: relative;

 
}

   .parent ul li .nav-item{
        text-decoration: none;
        color: #2C3E50;
    }
li a::after{
    content: "";
    position: absolute;
left: 0;
bottom: 0;
height: 2px;
width: 0;
background-color: aliceblue;
transition: all .5s ease-in-out;
}



li a:hover::after{
    width: 100%;
}


.parent ul li a:hover{
color: #0d1b61;
}


.Home{
    height: 90vh;
    background-color: #88B04B;
}

.Footer{
    height: 13rem;
    background: #000;
color: #6B9080;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem;


& li{
    list-style: none;
    margin-bottom: .3rem;
    cursor: pointer;
}
& p{
       margin-bottom: .3rem;
 }
/* flex-direction: column; */
input{
    height: 2rem;
    width: 15rem;
}
}



Footer li:hover{
    color: #FFC1CC;
}


/* a:active{
    color: #000;
} */

.section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #BBDCE5;
    color: #2C3E50;
    height: 2rem;
    cursor: pointer;
    

}
.SignIn{
    margin-right: 1rem;
    /* color: red; */
}

.Home{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}


.parent ul li .active{
  color: #38bfe4;
}


.parent ul li .activeLink{

    color: rgb(9, 169, 47);
}

.homePage{
    text-decoration: none;
    background: #38bfe4;
    padding: 0.3rem .5rem;
    border-radius: .2rem;
    cursor: pointer;
   
}
.para-div{
 margin: .5rem;
}
.figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

figure img{
    width: auto;
    height: 100%;
}


.card-container{
 
    /* display: flex; */
      width: 16rem;
    height: 30rem;
    list-style: none;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.3s ease;
padding: 1rem;
cursor: pointer;
position: relative;

    & img{
        width: 100%;
        height: auto;
    }
}

.card-container:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

}


.info{
    display: flex;
    justify-content: space-evenly;
    margin: 0.2rem;
    background: #757F9A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}




.Movie-Ul{
   /* display: flex; */
   /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr)) ;
gap: 1rem;
padding: 3rem;
/* width: 100%; */
margin: 1rem;
/* border:2px solid black */

}

.btn{
    
  
    width: 90%;
    position: absolute;
    bottom: .5rem;
    padding: 0.2rem;
    background-color: #6B9080;
    border-radius: .2rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.btn:hover{
    background-color: #9dacb1;
    color: #333232;
    scale: 1.1;
}
.loading{
    position: relative;
}


.loading-container{

     position: absolute;
    top: 5rem;
    left: 50%;
    /*width: 2rem;
    height: 2rem;
  border-top: 4px solid #3498db; /* Blue top border */
  /* border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto; */ 


  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 80px;

}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 80px;
}

.loading-container span {
  width: 12px;
  height: 12px;
  background-color: #3498db; /* blue */
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.loading-container span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-container span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    opacity: 0.6;
  }
  100% {
    transform: translateY(-12px);
    opacity: 1;
  }
}
.contact-container{
    /* border: 2px solid #000; */
    height: 35rem;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;  

& label{
    font-weight: 600;
}
   
}

.contact-image{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Initial shadow */
  transition: all 0.3s ease;
  cursor: pointer;

}
.contact-image:hover{
    
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
  transform: translateY(-4px); /* Subtle lift effect */
  background-color: #2980b9; /* Slight color change on hover */

}
.contact-image img{
    width: 100%;
    height: 20rem;

}
.contact-container input,textarea{
    display: block;
    margin: .2rem .3rem;
}

.contact-container input{
    width: 15rem;
    height: 2rem;
}


.contact-para{
    color: #04ed88;
}



.SingleMovie-Ul{
   display: flex;
    /* display: grid; */
    /* grid-template-columns:repeat(auto-fit,minmax(250px,1fr)) ; */
gap: 1rem;
padding: 3rem;
width: 40rem;
margin: 1rem;
/* border:2px solid black; */
position: relative;
}


/* .Collection{
    background-color: #333232;
    color: white;
    /* height: 100%; */
    /* position: absolute;  */
    /* right: 0; */
/* display: flex;
justify-content:  center;
align-items: center;
}

.aside{
    display: flex;
    flex-direction: column;
    background-color: #04ed88;
}  */


/* //home area */






.home-container{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
    width: 98.8vw;
    height: 70vh;
    
background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.home-content{
    padding: 1rem;
width: 25rem;
/* border: 2px solid #04ed88; */

& h1{
    margin-bottom: .5rem;
}
    & p{
        font-weight: 550;
        letter-spacing: .05rem;
        margin-bottom: .5rem;
    }
}
.home-image img{
    width: 100%;
    height: 20rem;
    object-fit: contain;
}
.home-image{
    margin: 1rem;
}


.home-btn{
      padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.home-btn:hover{
      background-color: #45a049;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}



/* //Movie */

.Movie-info{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
    width:30rem;
position: relative;

}

.Movie-info:hover{
    cursor: pointer;
 box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-btn{
position: absolute;
bottom: 10px;
left: 1rem;
  padding: 12px 24px;
  background-color: #4ca2af;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;


}
.card-btn:hover{
      background-color: #45a049;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}


.movieName{
    display: flex;
    justify-content: space-between;
    

    & .title{
        margin: .4rem 0;
        font-weight: 550;
        color: #2980b9;
    }
}
.icons{
    display: flex;
    justify-content: space-evenly;
    gap: 0.4rem;


    & .type{
 margin: .4rem 0;
        text-transform: capitalize;
    }
& .Year,.type{

     margin: .4rem 0;
    
  /* width: 2rem; */
  padding: .3rem;
  background-color: #f1c40f;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;

}
.Year:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
  background-color: #b8b8ec;
}

.type:hover{
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
  background-color: #b8b8ec;
}


}


.Plot{
    padding: 0.7rem;
    line-height: 1.2rem;
    letter-spacing: .05rem;
}


.Awards{
    height: 5rem;
  margin-left: 0.5rem;
    display: flex;
    
    align-items: center;
}
.movieCollection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;

}




@media (width<778px){
    html{
        font-size: 56.8%
    }
}


@media (width<400px){
    html{
        font-size: 52.5%
    }
    .contact-container textarea{
    width: 18rem;
    height: 15rem;
    margin-right: 1rem;

}
}


